<%- include('layouts/header.ejs') %>
    <a class="btn" style="float: right;" href="/logout">Logout</a>

    <div class="main-wrap">
        <div class="call-wrap card" style="z-index: 99">
            <video id="local-video" autoplay></video>
            <div class="row remote-video-wrap" style="position: relative;">
                <div class="call-hang-status" style="position: absolute; z-index:999">

                </div>
                <video id="remote-video" autoplay></video>
            </div>
            <div class="row">
                <div class="col m12">
                    <input type="text" name="" id="username-input" placeholder="Username">
                    <button id="call-btn" class="btn waves-effect"> Call</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/clint.js"></script>

    <%- include('layouts/footer.ejs') %>