<%- include('layouts/header.ejs') %>

    <div class="login-wrap">
        <div class="row">
            <div class="col s12 m8 l4 offset-m2 offset-l4">
                <div class="card">
                    <div class="card-action teal lighten-1 white-text">
                        <h3>Register</h3>
                    </div>
                    <div class="card-content">
                        <form action="" method="POST">
                            <div class="form-field">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" required>
                            </div>
                            <div class="form-field">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" required>
                            </div>
                            <div class="form-field">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" required>
                            </div>
                            <br>
                            <div class="form-field">
                                <button type="submit" class="webrtc-login btn-large waves-effect waves-dark">
                                    Register
                                </button>
                                <a href="/">Login</a>
                            </div>
                        </form>

                        <% 
                            if(typeof success !== 'undefined'){
                                if(success){
                                    %>
                                        <p style="color:green;"><%= message %></p>
                                    <%
                                }
                                else{
                                    %>
                                        <p style="color:red;"><%= message %></p>
                                    <%
                                }
                            }
                        %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('layouts/footer.ejs') %>